@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;

}
body{
    background-image: url('../img/logo.png') ;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-POSITION: center 50%;
    BACKGROUND-REPEAT: no-repeat;
    background-size: 40%;
}

:root
{
    /* --format_len:40px; */
    --blue:#287bff;
    --red:#ff0066;
    --green:#00cc99;
    --orange:#ff9900;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#888;

}
.big{
	position: fixed;
	width: 100vw;
	height: 100%;
	z-index: 998;
    top: 0;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
.big .img{
	width: 90vw;
	height: 80%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
    overflow-x: scroll;

}
.big .img img{
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
}
section{
   
    /* background: linear-gradient(-30deg, #03a9f4 0%,#3a78b7 50%,#262626 50%, #607d8b 100% ); */
    /* background: linear-gradient(0deg, red , var(--orange)  ); */
    /* https://www.quackit.com/css/functions/css_hue-rotate_function.cfm */
    background: linear-gradient(-30deg, var(--grey)0%, #00ff00 5%,#c4ff4d 25%, var(--black1) 40% 65%,#ffe066 70%,var(--orange), red 80% 100%);
    filter: hue-rotate(0deg);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(-30deg);    
    }
    25%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(10deg);
    }
    75%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(-30deg);

    }
}

/* .container
{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40 auto;
} */

.topbar
{
    background: var(--black2);
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 0 10px;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
    background: #eee;
}

.search label
{
    position: relative;
    /* display: flex;
    justify-content: space-between; 
    text-align: center;  */
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label .icon{
    position: absolute;
    height:100%;
    top: 10;
    /* bottom: 0px; */
    left: 10px;
    font-size: 1.5em;

}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    
} 
button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; */
  }
  button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
  button:after {
    content: "\0024";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }
  
  /* Button pointing left */
  
  button.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
  }
  button.back:after {
    content: "\0024";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid transparent;
    border-left: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;    
  }
.container
{
    background: var(--black1);
    position: relative;
    width:100%;
    /* height: 100vh; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 35px;

}
.details

{
    background: var(--grey);
    position: relative;
    min-height: 400px;
    max-height: 100vh;
    padding: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    /* display: grid;
    grid-template-rows: 1fr  3fr;
    grid-gap: 20px; */
    
}
.title{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 35px;

}
/* 進出單子的表格 */
.tablepage
{
    position: relative;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 1fr  ; */
    /* grid-template-rows: repeat( 1fr); */
    /* grid-gap: 20px; */
    display: inline-block;
    min-height: 50%;
    /* 表格最小高度 */
    padding: 15px 10px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(255, 233, 233, 0.08);
    border-radius: 20px;
    line-height: 40px;
    
}
.tablepage  .kind
{ 
    display: flex;
    margin-bottom: 20px;
    /* justify-content: space-between;  */
    position: relative;
    overflow-x: scroll;
}

.tablepage table
{
    
    width: 100%;
    border-collapse: collapse;
}


/* 除了第一個td*/
.tablepage table td:nth-child(n+2)
{ 
    min-width: 150px;/* 每種進單法要給的文字寬度 */
    padding: 0px 6px;
    text-align: center;
    font-size: 20px;
    

    
}
/* 第一個td*/
.tablepage table td:first-child
{ 
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    min-width: 60px;
}
.tablepage .table thead td
{
    font-weight: 600;

}


/* .tablepage table tr:hover
{
    background: var(--blue);
    color: var(--white);

} */
.tablepage table tr:hover.long
{
    background: var(--green);
    color: var(--white);
}
.tablepage table tr:hover.short
{
    background: var(--blue);
    color: var(--white);
}
.tablepage table tr:hover :first-child
{
    background: var(--black1);
    /* transition: 0.3s;
    transform: scale(1.2) translate(0px, -5px); */
}

.tablepage table tr td.active{
    background: var(--red); 
    font-weight: 1000;
}
.pic
{
    position: relative;
    display: grid;
    min-height: 400px;
    background: #000;
    /* padding: 20px; */
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    overflow-x:scroll; 
    overflow-y:scroll; 
    BACKGROUND-POSITION: center 50%;
    BACKGROUND-REPEAT: no-repeat;
    background-size: 70%;
    SCROLLBAR-FACE-COLOR: #c2d3fc; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2d3fc; 
    SCROLLBAR-SHADOW-COLOR: BLACK; 
    SCROLLBAR-3DLIGHT-COLOR: #c2d3fc; 
    SCROLLBAR-ARROW-COLOR:#000000; 
    SCROLLBAR-TRACK-COLOR: #FFFFFF; 
    SCROLLBAR-DARKSHADOW-COLOR: #EAECEC;

}
.pic img
{
    max-height: 150%;  
    max-width: 150%; 
    width: auto;
    height: auto;
    position: absolute;  
    /* top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;   */
    margin: auto;
    z-index: 9;
    /* overflow-x: auto; */
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 15px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent, #00c6ff);

}
@media (max-width: 991px) {
    .container
    {
    position: relative;
    width:100%;
    /* height: 100%;   */
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1.3fr 1.7fr;
    grid-gap: 15px;
    
    }
    .details{
    max-height: 300px;

    }
    .pic img
    {
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    overflow-x: auto;
}



}