@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;

}
/* .container
{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40 auto;
} */

.topbar
{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 0 10px;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
    background: #eee;
}

.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    
} 
button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; */
  }
  button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
  button:after {
    content: "\0024";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }
  
  /* Button pointing left */
  
  button.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
  }
  button.back:after {
    content: "\0024";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid transparent;
    border-left: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;    
  }
.container
{
    position: relative;
    width:100%;
    /* height: 100vh; */
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 15px;

}
.details
{
    position: relative;
    min-height: 200px;
    padding: 10px;
    /* display: grid;
    grid-template-rows: 1fr  3fr;
    grid-gap: 20px; */
    
}



.pic
{
    position: relative;
    display: grid;
    min-height: 400px;
    /* padding: 20px; */
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    overflow-x:scroll; 
    overflow-y:scroll; 

    SCROLLBAR-FACE-COLOR: #c2d3fc; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2d3fc; 
    SCROLLBAR-SHADOW-COLOR: BLACK; 
    SCROLLBAR-3DLIGHT-COLOR: #c2d3fc; 
    SCROLLBAR-ARROW-COLOR:#000000; 
    SCROLLBAR-TRACK-COLOR: #FFFFFF; 
    SCROLLBAR-DARKSHADOW-COLOR: #EAECEC;

}
.pic img
{
    max-height: 125%;  
    max-width: 150%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    /* bottom: 0;   */
    left: 0;  
    right: 0;  
    margin: auto;
    /* overflow-x: auto; */
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent, #00c6ff);

}
@media (max-width: 991px) {
    .container
    {
    position: relative;
    width:100%;
    /* height: 100%;   */
    display: grid;
    grid-template-columns: 1fr ;
    /* grid-template-rows: 1.3fr 1.7fr; */
    grid-gap: 15px;
    
    }

    .pic img
    {
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    overflow-x: auto;
}



}