<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 自己設計的CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- LOGO用 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- alertify用 -->  
	<script src="../js/alertify.min.js"></script>
    <link rel="stylesheet" href="../css/alertify/alertify.core.css" />
    <link rel="stylesheet" href="../css/alertify/alertify.default.css" id="toggleCSS" />
    <!-- 定位用 -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <title>樂高網頁日記</title>
</head>
<body>

    <section style="min-height: 100vh; "><!-- 這裡的style是為了不和alertify打架 -->
    <div  class="big">
        <div class="img">
        <img  src="" alt="">
        </div>
    </div>
    <div class="topbar">
        <button id="back" class="back">前一天</button>
        <div class="search">
            <label >
                <div  class="icon" ><i class="fas fa-search-dollar"></i></div>
	            <input id="date" type="date" oninput="OnInput (event)" onpropertychange="OnPropChanged (event)" />
                <!-- <li style="list-style:none;"><ion-icon name="search-outline"></ion-icon></li> -->
                
                
                
            </label>
        </div>
        <button id="next" class="button">下一天</button>
       
    </div>
    

    <div class="container" >

        <div class="details" >
           
         
            <div class= "title" >
                
                <!-- 日期當大標題 -->
                <h2 ><i id='datetxt' class="far fa-calendar-alt"></i></h2>
                <hr>
                
                <h3>
                    <i class="fas fa-envelope"></i>
                    樂高框情況：
                </h3>
    
               
                <h3>
                    <i class="far fa-clock"></i>
                    趨勢/盤整：
                </h3>

                <h3>
                    <i class="fas fa-toolbox"></i>
                    跳空：
                </h3>
            </div>
            <div class="tablepage"  >
                <!-- style="border:5px #FFAC55 solid"; -->
    

                
                     <h4>第一單</h4>
                     <div class="kind" > 
                       
                        <table>
                            <tr class='long'>
                                <td>進單</td>
                                <td>開盤紅</td>
                                <td>力道歸還法</td>
                                <td>純訊號後回測</td>
                                <td>區間突破法</td>
                                <td>基本型態法</td>
                                <td>反向單</td>
                                <td>續走單</td>
                            </tr>
                        
                            <tr class='short'>
                                <td>出單</td>
                                <td>樂高停利法</td>
                                <td>力道歸還法</td>
                                <td>強勢停利法</td>
                                <td>中線停利法</td>
                                <td>3點保本法</td>
                                
                            </tr>
                        </table>
                    </div>
                    <h4>第一單</h4>
                    <div class="kind" > 
                      
                       <table>
                           <tr class='long'>
                               <td>進單</td>
                               <td>開盤紅</td>
                               <td class="active">力道歸還法</td>
                               <td>純訊號後回測</td>
                               <td>區間突破法</td>
                               <td>基本型態法</td>
                               <td>反向單</td>
                               <td>續走單</td>
                           </tr>
                       
                           <tr class='short'>
                               <td>出單</td>
                               <td>樂高停利法</td>
                               <td>力道歸還法</td>
                               <td>強勢停利法</td>
                               <td>中線停利法</td>
                               <td>3點保本法</td>
                               
                           </tr>
                       </table>
                   </div>
                   <h4>第一單</h4>
                   <div class="kind" > 
                     
                      <table>
                          <tr class='long'>
                              <td>進單</td>
                              <td>開盤紅</td>
                              <td>力道歸還法</td>
                              <td>純訊號後回測</td>
                              <td>區間突破法</td>
                              <td>基本型態法</td>
                              <td>反向單</td>
                              <td>續走單</td>
                          </tr>
                      
                          <tr class='short'>
                              <td>出單</td>
                              <td>樂高停利法</td>
                              <td>力道歸還法</td>
                              <td>強勢停利法</td>
                              <td>中線停利法</td>
                              <td>3點保本法</td>
                              
                          </tr>
                      </table>
                  </div>
                    
    
            </div>
                   
           
        </div>
        <!-- 圖片 style="border:5px #FFAC55 solid"-->
        <div id='masa_msg' class="pic">
             <img loading="eager" id="img"   alt="沒有這天的資訊">
             <!-- <img src="./img/logo.png" > -->
        </div>
    </div>
 </section>
<script src="../js/msg.js"> </script><!-- 需在最前面 -->
<script src="../js/date.js"> </script>
<script src="../js/trade.js"> </script>

<script>
    let big = document.querySelector(".big")
    let big_img = document.querySelector(".big .img img")
    big.onclick = function(){
        big.style.display = "none";
        big_img.src = "";
    }

    document.querySelector(".pic").onclick = function(){
            big_img.src = document.querySelector(".pic"+" img").src;
            big.style.display = "block";
    }
</script>
        
   

</body>
</html>