<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>

    let xhr = new XMLHttpRequest();
    
    /*
    * {string} 請求方法 (method)
    * {string} 目標 url
    * {boolean} 非同步 [async] -- 可選
    * {string} 使用者 [user] -- 可選
    * {string} 密碼 [password] -- 可選
    */
    xhr.open("POST", "https://api.kcg.gov.tw/api/service/get/93da9fbe-2b80-439a-aec7-276366f7bfea");
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=UTF-8');

    // 非同步取得回應
    xhr.onload = function () {
        // ...處理回應...    
        // 取得回應的 Content-Type 表頭欄位
        // 以決定如何處理回應
        let type = xhr.getResponseHeader("Content-Type");

        let handler;

        // 使用簡易的 正規表達式，判斷媒體類型
        if (type.match(/^application\/json/)) {
            handler = new Handler(jsonHandler, JSON.parse(xhr.responseText));
        } else if (type.match(/^application\/xml/)) {
            handler = new Handler(textHandler, xhr.responseXML);
        } else {
            handler = new Handler(textHandler, xhr.responseText);
        }
        
        handler.handleResponse();
        
    };
    xhr.send(null);




</script>
</body>
</html>